body {
    color: rgb(248, 174, 15);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(248, 174, 15);
    padding: 20px;
    font-size: 32px;
    color: rgb(248, 174, 15);
}